<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="bootstrap.css">
    <link type="text/css" rel="stylesheet" href="dashboard.css">
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="betfair-api.js"></script>
    <script type="text/javascript" src="dashboard.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="BBApp">
<div id="main-div" ng-controller="MainCtrl">
<!--
    <button class="btn" ng-click="testBetfair();">Test betfair</button>
-->
    <table>
        <tr>
            <th>Event</th>
            <th ng-repeat="knownBookie in knownBookies">{{knownBookie.short}}</th>
            <th>Betfair</th>
        </tr>
        <tr ng-repeat="event in events track by $index">
            <td class="event-name" ng-class="{selected: event.selected}"><a ng-click="selectEvent(event)">{{event.name || event.url}}</a></td>
            <td ng-repeat="bookie in event.bookies" ng-class="{selected: bookie.selected}"><a ng-click="selectBookie(bookie)">{{bookie.summary}}</a></td>
            <td>{{event.betfair}}</td>
        </tr>
    </table>
    <ul class="markets-list">
        <li ng-repeat="market in selectedBookie.markets track by $index">
            <a ng-click="selectMarket(market)" ng-class="{selected: market.selected}">{{market.name}}</a>
        </li>
    </ul>
    <table>
        <tr>
            <th>Name</th>
            <th>Back odds</th>
            <th>Lay odds</th>
        </tr>
        <tr ng-repeat="runner in selectedMarket.runners track by $index">
            <td class="event-name" ng-class="{selected: runner.selected}"><a ng-click="selectRunner(runner)">{{runner.name}}</a></td>
            <td>{{runner.backOdds}}</td>
            <td>{{runner.lay.betfair && runner.lay.betfair.price}}</td>
        </tr>
    </table>
</div>
</body>
</html>